<div class="row text-center">
  <div class="col-12">
    <h1 id="contact"><i class="bi bi-person-lines-fill m-3"></i>CONTACT <span class="text-success">ME</span></h1>
  </div>
  <div class="row position-relative">
    <div class="position-absolute top-50 start-50 translate-middle  line"></div>
  </div>
</div>

<div class="row mt-5">
  <div class="col-lg-5 offset-md-1">
    <div class="card">
      <div class="row">
        <div class="col-3 position-relative">
          <div class="position-absolute top-50 start-50 translate-middle" id="center">
          <i class="bi bi-geo-alt fs-4 text-success"></i>
        </div>
        </div>
        <div class="col-9">
          <h4>Address</h4>
          <p>23 Strang Street, Kroonstad, Free State, South Africa</p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-5 offset-md-1">

    <div class="card">
      <div class="row">
        <div class="col-3 position-relative">
          <div class="position-absolute top-50 start-50 translate-middle" id="center">
            <i class="bi bi-share fs-4 text-success"></i>
          </div>
        </div>
        <div class="col-9">
          <h4>SOCIAL PROFILES</h4>
          <p class="ps-2">
            <a href="https://www.linkedin.com/in/erismeidis-reyes-98942018a/" class="text-success" target="_blank">
              <i class="bi bi-linkedin"></i>
            </a>
            <a href="https://github.com/Erismeiris" target="_blank" class="ms-2 text-success">
              <i class="bi bi-github"></i>
            </a>
            <a href="https://www.instagram.com/invites/contact/?i=1pwtlee8unshv&utm_content=5fht8lo" target="_blank" class="text-success ms-2">
              <i class="bi bi-instagram"></i>
            </a>
            <a href="https://twitter.com/ErismeidisH?t=wURkE8977ZQzGSzVckvjLA&s=09" target="_blank" class="ms-2 text-success">
              <i class="bi bi-twitter"></i>
            </a>
            <a href="https://www.facebook.com/erismeidis.hidalgoreyes" target="_blank" class="ms-2 text-success">
              <i class="bi bi-facebook"></i>
            </a>
          </p>
        </div>
      </div>
    </div>
  </div>

</div>


<div class="row mt-5">
  <div class="col-lg-5 offset-md-1">
    <div class="card">
      <div class="row">
        <div class="col-3 position-relative">
          <div class="position-absolute top-50 start-50 translate-middle" id="center">
            <i class="bi fs-4 text-success bi-envelope"></i>
          </div>
        </div>
        <div class="col-9">
          <h4>Email me</h4>
          <p>erismeidis@gmail.com</p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-5 offset-md-1">

    <div class="card">
      <div class="row">
        <div class="col-3 position-relative">
          <div class="position-absolute top-50 start-50 translate-middle" id="center">
          <i class="bi bi-telephone-outbound-fill fs-4 text-success"></i>
        </div>
        </div>
        <div class="col-9">
          <h4>Call me</h4>
          <p>(+27) 761118428</p>
        </div>
      </div>
    </div>
  </div>

</div>


<div class="row mt-5">
  <div class="col-10 offset-md-1">
    <div class="card">
      <div class="row">
        <div class="col-3 position-relative">
          <div class="position-absolute top-50 start-50 translate-middle">
            <i class="bi bi-chat-left-text-fill fs-4 text-success"></i>
          </div>
        </div>
        <div class="col-9">
          <h4>Send me a message</h4>
          <form>
            <div class="mb-3">
              <label for="name" class="form-label">Name</label>
              <input type="text" class="form-control" id="name" placeholder="Enter your name">
            </div>
            <div class="mb-3">
              <label for="email" class="form-label">Email address</label>
              <input type="email" class="form-control" id="email" placeholder="Enter your email">
            </div>
            <div class="mb-3">
              <label for="message" class="form-label">Message</label>
              <textarea class="form-control" id="message" rows="3"></textarea>
            </div>
            <button type="submit" class="btn btn-success">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>