<div class="row text-center">
  <p class="fs-2 fw-bold" id="portfolio">MY <span class="fs-2 text-success fw-bold">PORTFOLIO</span></p>
</div>

<div class="row position-relative">
  <div class="position-absolute top-50 start-50 translate-middle line"></div>
</div>

<div class="row mt-3">
  <div class="row">
    <div class="col-4">
      <div class="card">
        <div class="card-body body">
          <h5 class="card-title">Pricipals School Reports</h5>
          <p class="card-text">
            <video class="card-img-top img" controls>
              <source src="assets/videos/Principal_Report.mp4" type="video/mp4">
            </video>
          </p>
          <div class="card-footer mt-2 footer">
            It is the monthly report from the school's principals, in South Africa.
          </div>
          <a class="btn btn-primary m-2"> <i class="bi bi-eye"></i></a> 
          <a class="btn btn-primary m-2"> <i class="bi bi-github"></i></a> 
          
        </div>
      </div>
    </div>
    
    <div class="col-4">
      <div class="card">
        <div class="card-body body">
          <h5 class="card-title">Maps customized</h5>
          <img class="card-img-top img" src="assets/images/map_customized.png" alt="map_customized">
            <div class="card-footer mt-2 footer">
            It is a component of Angular with a map, where you are able to add your favorite places and routes. 
          </div> 
          <a href="https://reyes-angular-map.netlify.app/" target="_blank" class="btn btn-primary m-2"> <i class="bi bi-eye"></i></a> 
          <a class="btn btn-primary m-2"> <i class="bi bi-github"></i></a> 
        </div>
      </div>
    </div>

    <div class="col-4">
      <div class="card">
        <div class="card-body body">
          <h5 class="card-title">Typical Login</h5>
          <img class="card-img-top img" src="assets/images/typical_login.png" alt="map_customized">
          <div class="card-footer mt-2 footer">
          It is a typical login ready to add any angular project
          </div> 
          <a href="https://login-portfolio.herokuapp.com/auth/login" class="btn btn-primary m-2"> <i class="bi bi-eye"></i></a>
          <a class="btn btn-primary m-2"> <i class="bi bi-github"></i></a>
        </div>
      </div>
    </div>
</div>

<div class="row">
  <div class="col-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Guest House</h5>
        <img class="card-img-top img" src="assets/images/guest_house.png" alt="map_customized">
        
        <div class="card-footer mt-2 footer">
          It a web site to a big Guest House with 52 rooms.
          <span>The Guest House Owner won't continue to pay the server, which is why page no is available currently.</span>
        </div> 
        <a href="http://izekhayaguest.co.za/" class="btn btn-primary m-2"> <i class="bi bi-eye"></i></a>
        <a class="btn btn-primary m-2"> <i class="bi bi-github"></i></a>
      </div>
    </div>
  </div>

  <div class="col-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Container Controls </h5>
        <img class="card-img-top img" src="assets/images/container.png" alt="map_customized">
        <div class="card-footer">
          When many people want to send packages using containers through the sea, this is the website they can use to calculate the occupied space by the members of the container.
        </div> 
        <a href="http://izekhayaguest.co.za/" class="btn btn-primary m-2"> <i class="bi bi-eye"></i></a>
        <a class="btn btn-primary m-2"> <i class="bi bi-github"></i></a>
      </div>
    </div>
  </div>

  <div class="col-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Title</h5>
        <p class="card-text">Content</p>
        <div class="card-footer">
          
        </div> 
        </div>
    </div>
  </div>
</div>
</div>