<div class="row">

  <div class="col-lg-6 text-center">
<div class="photo d-flex justify-content-center align-items-center">

  <img class="bg-secondary  border border-dark p-2 rounded-circle text-center img-fluid" 
    src="assets/images/erismeiris-hidalgo.png" alt="myPhoto" width="200" height="200">

</div>

  </div>

  <div class="col-lg-6">
    <div class="">
      <p class="fs-4">Hi there!</p>
    <div class="row position-relative">
                 <p class="fs-2 line"> I'm Erismeiris Hidalgo.</p>          
       </div>
      <p class="fs-6">I'm designer and developer with over +{{experienceYears}} years of experience and beautiful web applications through
        carefully crafted design.</p>
    </div>

    <div class="row text-center">
      <div>
        <a href="https://www.linkedin.com/in/erismeidis-reyes-98942018a/" target="_blank">
          <img src="assets/icon/linkedin.png" alt="linkedin" width="30" height="30">
        </a>
        <a href="https://github.com/Erismeiris" target="_blank">
          <img src="assets/icon/github.png" alt="github" width="30" height="30">
        </a>
        <a href="https://www.instagram.com/invites/contact/?i=1pwtlee8unshv&utm_content=5fht8lo" target="_blank">
          <img src="assets/icon/instagram.png" alt="instagram" width="30" height="30">
        </a>
        <a href="https://twitter.com/ErismeidisH?t=wURkE8977ZQzGSzVckvjLA&s=09" target="_blank">
          <img src="assets/icon/twitter.png" alt="twitter" width="30" height="30">
        </a>
        <a href="https://www.facebook.com/erismeidis.hidalgoreyes" target="_blank">
          <img src="assets/icon/facebook.png" alt="facebook" width="30" height="30">
        </a>
      </div>
    </div>

    <div class="row text-center p-2">
      <div class="col-6 text-center">
        <button class="border border-dark btn btn-success rounded-pill btn-lg" type="button"><img src="assets/icon/about.png">More about me</button>
      </div>

      <div class="col-6 text-center">
        <button class="btn btn-success border-dark btn-lg rounded-pill" type="button"><img src="assets/icon/portfolio.png"> Porfolio</button>
      </div>
    </div>

  </div>
</div>

