<div class="nombre">
  <h3>Erismeiris</h3>
</div>

<div class="menu">
  <ul>
    <li>
      <a routerLink="/home" routerLinkActive="active">
        <i class="bi bi-house-door"></i>Home</a>
    </li>
    <li>
      <a routerLink="/about" routerLinkActive="active">
        <i class="bi bi-file-person-fill"></i>
        About</a>
    </li>
    <li>
      <a routerLink="/services" routerLinkActive="active">
        <i class="bi bi-gear-fill"></i>
        Services</a>
    </li>
    <li>
      <a routerLink="/contact" routerLinkActive="active">
        <i class="bi bi-person-lines-fill"></i>
        Contact</a>
    </li>
    <li>
      <a routerLink="/portfolio" routerLinkActive="active">
        <i class="bi bi-briefcase"></i>
        Portfolio</a>
    </li>
    <li>
      <a routerLink="/blog" routerLinkActive="active">
        <i class="bi bi-newspaper"></i>
        Blog</a>
    </li>

  </ul>
</div>