<div class="row text-center mt-5">
  <h3>Skills</h3>
</div>

<div class="row text-left mt-5">
  <div class="col-5">
<h4>HTML 
  <span><img src="../assets/icon/html5.png" alt="html"></span>
</h4>
<h4>JavaScript
  <span><img src="../assets/icon/javascript.png" alt="JavaScript"></span>
</h4>
<h4>SQL
  <span class="ml-4"><img src="../assets/icon/mysql.png" alt="SQL"></span></h4>
<h4>NoSQL<span class="ml-4"><img src="../assets/icon/mongodb.png" alt="NoSQL"></span></h4>
<h4>CSS<span class="ml-4"><img src="../assets/icon/css3.png" alt="CSS"></span></h4>
  </div>
  <div class="col-5">
    <h4>NodeJS<span class="ml-4"><img src="../assets/icon/nodejs.png" alt="NodeJs"></span></h4>
    <h4>Angular<span class="ml-4"><img src="../assets/icon/angularjs.png" alt="Angular"></span></h4>
    <h4>Math<span class="ml-4"><img src="../assets/icon/mathematic.png" alt="Math"></span></h4>
    <h4>Languages<span class="ml-4"><img src="../assets/icon/spain.png" alt="Math"></span>
      <span class="ml-4"><img src="../assets/icon/britain.png" alt="Math"></span></h4>
  </div>

</div>
