<div class="row border-start  border-top border-secondary m-2">
  <div class="row text-center p-2 m-2">
    <div class="col-10">
      <h2><i class="bi bi-watch"></i>
        EDUCATION & EXPERIENCE </h2>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6 text-center">
      <h2><i class="bi bi-book"></i>
        EDUCATION</h2>
      <div class="row">
        <div class="col-2 mt-2 position-relative d-md-none d-lg-block d-sm-none d-md-block d-none d-sm-block">
          <div class="secondBox"></div>
        </div>
        <div class="col-lg-10 mt-2 firstBox">
          <h3>Enrique José Varona University of Pedagogical Sciences</h3>
          <h4>La Habana, Cuba</h4>
          <h5>2003 - 2008</h5>
          <p>Basic Education Bachelor Degree</p>
        </div>
        <div class="col-2 mt-2 position-relative d-md-none d-lg-block d-sm-none d-md-block d-none d-sm-block">
          <div class="secondBox"></div>
        </div>
        <div class="col-lg-10 mt-2 firstBox">
          <h3>Blas Roca University of Pedagogical Sciences </h3>
          <h4>Granma, Cuba</h4>
          <h5>2009 - 2012</h5>
          <p>Master's Degree in Educational Science</p>
        </div>

        <div class="col-2 mt-2 position-relative d-md-none d-lg-block d-sm-none d-md-block d-none d-sm-block">
          <div class="secondBox"></div>
        </div>

        <div class="col-lg-10 mt-2 firstBox">
          <h3>Udemy Online Education</h3>
          <h4>Seattle, WA</h4>
          <h5>2019 - 2020</h5>
          <p>Backend (PHP, SQL and NodeJS)</p>
        </div>
        <div class="col-2 mt-2 position-relative d-md-none d-lg-block d-sm-none d-md-block d-none d-sm-block">
          <div class="secondBox"></div>
        </div>

        <div class="col-lg-10 mt-2 firstBox">
          <h3>Udemy Online Education</h3>
          <h4>Seattle, WA</h4>
          <h5>2020 - 2022</h5>
          <p>Frontend developer (Html, CSS, JavaScript, Angular)</p>
        </div>

      </div>

    </div>
    <div class="col-lg-6  text-center">
      <h2><i class="bi bi-card-checklist"></i>
        EXPERIENCE</h2>
      <div class="row">
        <div class="col-2 mt-2 position-relative d-md-none d-lg-block d-sm-none d-md-block d-none d-sm-block">
          <div class="secondBox"></div>
        </div>
        <div class="col-lg-10 mt-2 firstBox">
          <h3>Junior High School</h3>
          <h4>Granma, Cuba</h4>
          <h5>2008 - 2010</h5>
          <p>Mathematics teacher</p>
        </div>
        <div class="col-2 mt-2 position-relative d-md-none d-lg-block d-sm-none d-md-block d-none d-sm-block">
          <div class="secondBox"></div>
        </div>
        <div class="col-lg-10 mt-2 firstBox">
          <h3>Junior High School</h3>
          <h4>Granma, Cuba</h4>
          <h5>2010 - 2011</h5>
          <p>School's Principal</p>
        </div>
        <div class="col-2 mt-2 position-relative d-md-none d-lg-block d-sm-none d-md-block d-none d-sm-block">
          <div class="secondBox"></div>
        </div>
        <div class="col-lg-10 mt-2 firstBox">
          <h3>Municipal Directorate of Education</h3>
          <h4>Niquero, Granma, Cuba</h4>
          <h5>2011 - 2019</h5>
          <p>Departmental head at the municipal level</p>
        </div>
        <div class="col-2 mt-2 position-relative d-md-none d-lg-block d-sm-none d-md-block d-none d-sm-block">
          <div class="secondBox"></div>
        </div>

        <div class="col-lg-10 mt-2 firstBox">
          <h3></h3>
          <h4>Free State, South Africa</h4>
          <h5>2019 - 2024</h5>
          <p>Subject Advisor of Mathematics</p>

          <hr>
          <h3></h3>
          <h4>Free State, South Africa</h4>
          <h5>2019 - 2024</h5>
          <p>Web Developer as Freelancer </p>

          <hr>
          <h3></h3>
          <h4>Huelva, Spain</h4>
          <h5>2024 - present</h5>
          <p>Web Developer as Freelancer </p>
        </div>

      </div>
    </div>

  </div>

</div>